@font-face {
  font-family: 'Ledger';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Ledger/Ledger-normal-400.eot);
  src: local('Ledger'), url(../fonts/Ledger/Ledger-normal-400.woff) format('woff'), url(../fonts/Ledger/Ledger-normal-400.ttf) format('truetype'), url(../fonts/Ledger/Ledger-normal-400.svg#Ledger) format('svg'), url(../fonts/Ledger/Ledger-normal-400.woff2) format('woff2'), url(../fonts/Ledger/Ledger-normal-400.eot?#iefix) format('embedded-opentype');
}

